@import "tailwindcss";

@theme {
  --color-primaryGreen: #0d7143;
  --color-secondaryGreen: #038a4c;
  --font-montserrat: [ "var(--font-montserrat)", "sans"];
  --font-robotoSlab: [ "var(--font-roboto-slab)", "serif"];
  --font-raleway: [ "var(--font-raleway)", "sans"];
}

html,
body,
:root {
  height: 100%;
}

* {
  scroll-behavior: smooth;
}
