@import "tailwindcss";

@theme {
  --color-primaryGreen: #0d7143;
  --color-secondaryGreen: #038a4c;
  --font-montserrat: [ "var(--font-montserrat)", "sans"];
  --font-robotoslab: [ "var(--font-roboto-slab)", "serif"];
  --font-raleway: [ "var(--font-raleway)", "sans"];
}

html,
body,
:root {
  height: 100%;
}

* {
  scroll-behavior: smooth;
}

/* globals.css atau file CSS khusus untuk Tiptap */
.ProseMirror {
  padding: 1rem;
  border: 1px solid #e2e8f0;
  border-radius: 0.375rem;
  min-height: 200px;
}

.ProseMirror h1 {
  font-size: 2rem;
}

.ProseMirror h2 {
  font-size: 1.75rem;
}

.ProseMirror h3 {
  font-size: 1.5rem;
}

.ProseMirror h4 {
  font-size: 1.25rem;
}

.ProseMirror h5 {
  font-size: 1.125rem;
}

.ProseMirror h6 {
  font-size: 1rem;
}

.ProseMirror ul {
  list-style-type: disc;
  padding-left: 2rem;
  margin: 1rem 0;
}

.ProseMirror ol {
  list-style-type: decimal;
  padding-left: 2rem;
  margin: 1rem 0;
}

/* .ProseMirror table {
  border-collapse: collapse;
  width: 100%;
  margin: 1rem 0;
}

.ProseMirror th,
.ProseMirror td {
  border: 1px solid #e2e8f0;
  padding: 0.5rem;
  text-align: left;
}

.ProseMirror th {
  background-color: #f7fafc;
} */

.ProseMirror blockquote {
  border-left: 4px solid #ddd;
  padding-left: 1rem;
  margin: 1rem 0;
  color: #222;
  font-style: italic;
}
