@import "tailwindcss";

html,
body,
:root {
  height: 100%;
}

@theme {
  --color-primaryGreen: "#0D7143";
  --color-secondaryGreen: "#038A4C";
  --font-montserrat: [ "var(--font-montserrat)", "sans"];
  --font-robotoSlab: [ "var(--font-roboto-slab)", "serif"];
  --font-raleway: [ "var(--font-raleway)", "sans"];
}
